{% extends "base.html" %} {% block content %}
<h1 class="text-4xl font-semibold text-gray-800 mb-6">Lista de Productos</h1>



<div>
    <h4 class="text-lg sm:text-xl font-semibold text-gray-800 dark:text-neutral-600">
        Total productos: <span class="text-2xl sm:text-2xl font-bold text-blue-600">{{ products|length }}</span>
    </h4>
</div>

<ul class="">
  {% for product in products %}
  <li class="py-4">
    <div
      class="flex items-center bg-gradient-to-r from-gray-100 to-gray-200 border shadow-sm rounded-xl p-6 md:p-5 dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70 hover:shadow-lg transition-shadow duration-200"
    >
      <div class="mr-4">
        {% if product.photo %}
        <img
          src="{{product.photo.url}}"
          alt="{{product.name}}"
          style="max-height: 100px; border: 1px solid #ddd;"
          class="hover:scale-110 transition-transform duration-200"
        />
        {% endif %}
      </div>
      <div class="flex-1">
        <h3 class="text-lg font-bold text-gray-800">
          {{ product.name }}
        </h3>
        <p
          class="mt-1 text-xs font-medium uppercase text-gray-500 "
        >
          {{ product.price }} $
        </p>
        <p class="mt-2 text-gray-500">
          {{ product.description }}
        </p>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>

{% endblock content %}
