<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Shop</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/preline@latest/dist/preline.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50">
    <!-- Navbar -->
    <header class="bg-white">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex justify-between h-16">
                <div class="flex">
                    <div class="shrink-0 flex items-center">
                        <a class="text-xl font-bold" href="{% url "list_product" %}">☕ Legal Coffee</a>
                    </div>
                </div>
                <div class="flex items-center space-x-4">
                    {% if user.is_authenticated %}
                    <!-- User dropdown -->
                    <div class="hs-dropdown relative inline-flex">
                        <button id="hs-dropdown-with-header" type="button" class="hs-dropdown-toggle py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm" data-hs-dropdown="#hs-dropdown-with-header-menu" data-hs-dropdown-placement="bottom-right">
                            {{ user.username }}
                            <svg class="hs-dropdown-open:rotate-180 w-2.5 h-2.5 text-gray-600" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 5L8 11L14 5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                        <div id="hs-dropdown-with-header-menu" class="hs-dropdown-menu transition-opacity hidden absolute top-full right-0 min-w-[15rem] bg-white shadow-md rounded-lg p-2 z-10" aria-labelledby="hs-dropdown-with-header">
                            <div class="py-3 px-5 -m-2 bg-gray-50 rounded-t-lg">
                                <p class="text-sm text-gray-500">Signed in as</p>
                                <p class="text-sm font-medium text-gray-800">{{ user.username }}</p>
                            </div>
                            <div class="mt-2 py-2 first:pt-0 last:pb-0">
                                
                                <form action="{% url 'logout' %}" method="post">
                                    {% csrf_token %}
                                    <button  class="block py-2 px-5 w-full text-sm text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 dark:text-gray-600 dark:hover:bg-gray-700 dark:hover:text-gray-300" type="submit">Cerrar sesión</button>
                                </form>
                                    
                                
                            </div>
                        </div>
                    </div>
                    <!-- End User dropdown -->
                    {% else %}
                    <a href="{% url "login" %}" class="text-blue-500 hover:text-blue-700">Login</a>
                    {% endif %}
                    <a href="{% url 'my_order' %}" class="py-2 px-4 bg-blue-500 text-white rounded-md hover:bg-blue-700">Mi Pedido</a>
                </div>
            </div>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/preline@latest/dist/preline.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const dropdownToggle = document.getElementById('hs-dropdown-with-header');
            const dropdownMenu = document.getElementById('hs-dropdown-with-header-menu');

            dropdownToggle.addEventListener('click', function () {
                dropdownMenu.classList.toggle('hidden');
            });

            document.addEventListener('click', function (event) {
                if (!dropdownToggle.contains(event.target) && !dropdownMenu.contains(event.target)) {
                    dropdownMenu.classList.add('hidden');
                }
            });
        });
    </script>
</body>
</html>
